[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keras = "*"
sqlalchemy = "*"
scikit-learn = "*"

[dev-packages]
ipython = "*"
ipdb = "*"
"psycopg2-binary" = "*"
pytest = "*"
tensorflow = "*"
scipy = "*"
numpy = "*"
pillow = "*"
python-dotenv = "*"

[requires]
python_version = "3.6"
